.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 5px 5px 32.4px rgba(61, 65, 124, 0.1);
    border-radius: 18px;
    background-color: #fff;
    width: 362px;
    height: 393px;
}
.octobre {
    position: absolute;
    top: 26px;
    left: 28px;
    font-size: 21px;
    line-height: 38px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
    height: 44px;
}
.lun {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.mar {
    position: absolute;
    top: 0px;
    left: 48px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.mer {
    position: absolute;
    top: 0px;
    left: 96px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.jeu {
    position: absolute;
    top: 0px;
    left: 144px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.ven {
    position: absolute;
    top: 0px;
    left: 192px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.sam {
    position: absolute;
    top: 0px;
    left: 240px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.dim {
    position: absolute;
    top: 0px;
    left: 288px;
    display: inline-block;
    width: 47px;
    height: 14px;
}
.lunParent {
    position: absolute;
    top: 77px;
    left: 28px;
    width: 335px;
    height: 14px;
    opacity: 0.76;
}
.component151Child {
    position: absolute;
    height: 75.56%;
    width: 70.83%;
    top: 11.11%;
    right: 18.75%;
    bottom: 13.33%;
    left: 10.42%;
    border-radius: 50%;
    background-color: #91ba6e;
}
.div {
    position: absolute;
    height: 15.56%;
    width: 68.75%;
    top: 48.89%;
    left: 12.5%;
    font-weight: 600;
    display: inline-block;
}
.component151Item {
    position: absolute;
    height: 33.33%;
    width: 31.25%;
    top: 57.78%;
    right: 8.33%;
    bottom: 8.89%;
    left: 60.42%;
    border-radius: 4px;
    background-color: #d36a00;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.component151 {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 48px;
    height: 45px;
}
.component162Item {
    position: absolute;
    height: 33.33%;
    width: 31.25%;
    top: 57.78%;
    right: 8.33%;
    bottom: 8.89%;
    left: 60.42%;
    border-radius: 4px;
    background-color: #7fad57;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.component162 {
    position: absolute;
    top: 94px;
    left: 0px;
    width: 48px;
    height: 45px;
}
.component169Child {
    position: absolute;
    height: 75.56%;
    width: 70.83%;
    top: 11.11%;
    right: 18.75%;
    bottom: 13.33%;
    left: 10.42%;
    border-radius: 50%;
    background-color: #cdcdcd;
}
.component169Item {
    position: absolute;
    height: 28.89%;
    width: 27.08%;
    top: 60%;
    right: 10.42%;
    bottom: 11.11%;
    left: 62.5%;
    border-radius: 4px;
    background-color: #cdcdcd;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.component169 {
    position: absolute;
    top: 142px;
    left: 0px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component176Child {
    position: absolute;
    height: 75.56%;
    width: 70.83%;
    top: 11.11%;
    right: 18.75%;
    bottom: 13.33%;
    left: 10.42%;
    border-radius: 50%;
    background-color: #e4e4e4;
}
.component176 {
    position: absolute;
    top: 190px;
    left: 0px;
    width: 48px;
    height: 45px;
    color: #939393;
}
.component152Child {
    position: absolute;
    height: 75.56%;
    width: 70.83%;
    top: 11.11%;
    right: 18.75%;
    bottom: 13.33%;
    left: 10.42%;
    border-radius: 50%;
    background-color: #d36a00;
}
.component152 {
    position: absolute;
    top: 46px;
    left: 48px;
    width: 48px;
    height: 45px;
}
.component163 {
    position: absolute;
    top: 94px;
    left: 48px;
    width: 48px;
    height: 45px;
}
.component170 {
    position: absolute;
    top: 142px;
    left: 48px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component177 {
    position: absolute;
    top: 190px;
    left: 48px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component153 {
    position: absolute;
    top: 46px;
    left: 96px;
    width: 48px;
    height: 45px;
}
.component164 {
    position: absolute;
    top: 94px;
    left: 96px;
    width: 48px;
    height: 45px;
}
.component171 {
    position: absolute;
    top: 142px;
    left: 96px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component178 {
    position: absolute;
    top: 190px;
    left: 96px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component154 {
    position: absolute;
    top: 46px;
    left: 144px;
    width: 48px;
    height: 45px;
}
.component165 {
    position: absolute;
    top: 94px;
    left: 144px;
    width: 48px;
    height: 45px;
}
.component172 {
    position: absolute;
    top: 142px;
    left: 144px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component179 {
    position: absolute;
    top: 190px;
    left: 144px;
    width: 48px;
    height: 45px;
    color: #939393;
}
.component155Child {
    position: absolute;
    height: 75.56%;
    width: 70.83%;
    top: 11.11%;
    right: 18.75%;
    bottom: 13.33%;
    left: 10.42%;
    border-radius: 50%;
    background-color: #97c172;
}
.component155 {
    position: absolute;
    top: 46px;
    left: 192px;
    width: 48px;
    height: 45px;
}
.component166 {
    position: absolute;
    top: 94px;
    left: 192px;
    width: 48px;
    height: 45px;
}
.component173 {
    position: absolute;
    top: 142px;
    left: 192px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component180 {
    position: absolute;
    top: 190px;
    left: 192px;
    width: 48px;
    height: 45px;
    color: #939393;
}
.component156 {
    position: absolute;
    top: 46px;
    left: 240px;
    width: 48px;
    height: 45px;
}
.component167 {
    position: absolute;
    top: 94px;
    left: 240px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component174 {
    position: absolute;
    top: 142px;
    left: 240px;
    width: 48px;
    height: 45px;
}
.component181 {
    position: absolute;
    top: 190px;
    left: 240px;
    width: 48px;
    height: 45px;
    color: #939393;
}
.component157 {
    position: absolute;
    top: 46px;
    left: 288px;
    width: 48px;
    height: 45px;
}
.component168 {
    position: absolute;
    top: 94px;
    left: 288px;
    width: 48px;
    height: 45px;
    color: #373737;
}
.component175 {
    position: absolute;
    top: 142px;
    left: 288px;
    width: 48px;
    height: 45px;
}
.component158 {
    position: absolute;
    top: 0px;
    left: 144px;
    width: 48px;
    height: 45px;
}
.component159 {
    position: absolute;
    top: 0px;
    left: 192px;
    width: 48px;
    height: 45px;
}
.component160 {
    position: absolute;
    top: 0px;
    left: 240px;
    width: 48px;
    height: 45px;
}
.component161 {
    position: absolute;
    top: 0px;
    left: 288px;
    width: 48px;
    height: 45px;
}
.component151Parent {
    position: absolute;
    top: 101px;
    left: 21px;
    width: 336px;
    height: 235px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    color: #fff;
}
.groupItem {
    position: absolute;
    top: 5px;
    left: 0px;
    border-radius: 50%;
    background-color: #7fad57;
    width: 22px;
    height: 22px;
}
.utilisation {
    position: absolute;
    top: 0px;
    left: 32px;
    line-height: 33px;
    font-weight: 500;
    display: inline-block;
    width: 91px;
    height: 27px;
}
.ellipseParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 123px;
    height: 27px;
}
.fuites {
    position: absolute;
    top: 0px;
    left: 24px;
    line-height: 33px;
    font-weight: 500;
    display: inline-block;
    width: 121px;
    height: 27px;
}
.groupInner {
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 4px;
    background-color: #7fad57;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
}
.fuitesParent {
    position: absolute;
    top: 0px;
    left: 116px;
    width: 145px;
    height: 27px;
}
.groupParent {
    position: absolute;
    top: 345px;
    left: 25px;
    width: 261px;
    height: 27px;
    color: #000;
}
.rectangleParent {
    width: 100%;
    position: relative;
    height: 393px;
    text-align: left;
    font-size: 12px;
    color: #102c79;
    font-family: Inter;
}

