.component151Property1OrangeOrange,
.component151Property1OrangeOrange * {
  box-sizing: border-box;
}
.component151Property1OrangeOrange {
  width: 48px;
  height: 45px;
  position: relative;
}
.ellipse24 {
  background: #d36a00;
  border-radius: 50%;
  width: 70.83%;
  height: 75.56%;
  position: absolute;
  right: 18.75%;
  left: 10.42%;
  bottom: 13.33%;
  top: 11.11%;
}
.one {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 0px;
  font-weight: 600;
  position: absolute;
  right: 18.75%;
  left: 12.5%;
  width: 68.75%;
  bottom: 35.56%;
  top: 48.89%;
  height: 15.56%;
}
.rectangle204 {
  background: #d36a00;
  border-radius: 4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 31.25%;
  height: 33.33%;
  position: absolute;
  right: 8.33%;
  left: 60.42%;
  bottom: 8.89%;
  top: 57.78%;
}
